body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url("GRID.png");
	background-size: 100px;
}

#container {
	display: flex;
	flex: 1;
}

#whiteBoard {
	border: 1px;
	flex: 1;
	min-height: 100vh;
}

#tools {
	display: block;
	position: fixed;
	top: 30%;
}

#tools>div {
	width: 36px;
	padding: 8px;
	font-size: 30;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tools>div.selected {
	background-color: black;
	color: white;
}

#history {
	display: flex;
}

#history>span {
	width: 10px;
	height: 10px;
	border: 1px solid;
	font-size: 30;
	justify-content: center;
	display: flex;
	margin: 2px;
}

#history>span.selected {
	background-color: black;
	color: white;
}

#selection {
	cursor: all-scroll;
	fill: aliceblue;
	fill-opacity: 0.5;
	stroke: blue;
	stroke-dasharray: 5 10;
}